<div th:fragment="_card" class="card my-2">
    <img th:src="@{'/imagenes/'} + ${producto.imagen}" class="card-img-top" alt="producto imagen">
    <div class="card-body">
        <h5 class="card-title"th:text="${producto.titulo}">Card title</h5>
        <p class="card-text">Precio : <span th:text="${producto.precio}">1</span></p>
        <a th:href="@{/productos/{id}/detalle(id=${producto.id})}" class="btn btn-primary btn-block">
            Ver Detalle
        </a>
        <!-- <a th:href="@{/pedidosproductos/usuarios/1/agregar_producto(productoid=${producto.id}, cant_producto=1)}" class="btn btn-primary btn-block">
            Agregar al Carrito
        </a> -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar al Carrito
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${producto.titulo}">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="card-text">Precio : <span th:text="${producto.precio}">1</span></p>
                        <label>Cantidad:</label>
                        <input type="number" class="form-control" id="stock">
                    </div>
                    <div class="modal-footer">
                        <a th:href="@{/pedidosproductos/usuarios/1/agregar_producto(productoid=${producto.id}, cant_producto=1)}" class="btn btn-primary btn-block">
                            Agregar al Carrito
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:fragment="carrito_card" class="card my-2">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{'/imagenes/'} + ${producto.imagen}" class="card-img-top" alt="producto imagen">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"th:text="${producto.titulo}">Card title</h5>
                    <p class="card-text">Precio : <span th:text="${producto.precio}">1</span></p>
                </div>
            </div>
<!--            <div class="col-md-4">-->
<!--                <p class="card-text">Cantidad : <span th:each="pedidoproducto : ${pedidoproductos}" th:if="${pedidoproducto.fk_producto == producto.id}" th:text="${pedidoproducto.cant_producto}">1</span></p>-->
<!--            </div>-->
            <div class="col-md-4">
                <a th:href="@{/productos/{id}/detalle(id=${producto.id})}" class="btn btn-primary btn-block">
                    Ver Detalle
                </a>

                <a th:href="@{/productos/{id}/detalle(id=${producto.id})}" class="btn btn-primary btn-block ">
                    Agregar al Carrito
                </a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="categoria_li">
    <li class="nav-item">
        <a class="nav-link active" style="color: #f78001;" aria-current="page" th:href="@{/productos/categorias/{id}(id=${categoria.id})}" th:text="${categoria.nombre}">Li title</a>
    </li>
</div>